{% extends 'proprietaire/index.html.twig' %}

{% block title %}Edit Terrain{% endblock %}

{% block body %}


    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Modifier Terrain</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">



    {{ include('terrain/form.html.twig', {'button_label': 'Update'}) }}

                <a href="{{ path('proprietaireapp') }}" class="btn btn-light btn-icon-split">
                                        <span class="icon text-gray-600">
                                            <i class="fas fa-arrow-right"></i>
                                        </span>
                    <span class="text">back to list</span>
                </a>



    {{ include('terrain/delete_form.html.twig') }}
    </div>
    </div>
    </div>

{% endblock %}